{% extends "admin/base_site.html" %}
{% block breadcumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Home</a>
    </div>
{% endblock %}
{% block content %}
    <h1>Order {{  order.id }}</h1>
    <table>
        <tr>
            <td>Customer</td>
            <td>{{ order.name }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ order.email }}</td>
        </tr>
        <tr>
            <td>total:</td>
            <td>{{ order.get_total_cost }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {% if order.paid %}
                Paid
                {% else %}
                Not paind
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}