{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="tags">{{ post.tags.all|join:"," }}</p>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|markdown }}
  <p>
  <a href="{% url "blog:post_share" post.pk %}">Share</a>
  </p>

  {% if new_comment %}
  <hr>

  <h2>Thanks for your comment!</h2>
  {% else %}
  <hr>

  <form method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Comment">
  </form>
  {% endif %}

  <hr>

  {% with comments.count as total_comments %}
  <h3>{{total_comments}} comment{{ total_comments|pluralize }}</h3>
  {% endwith %}

  <ul>
  {% for comment in comments %}
    <li>{{ forloop.counter }} - {{ comment }}: {{ comment.body }}</li>
  {% empty %}
    <li>No comments yet.</li>
  {% endfor %}
  </ul>
{% endblock %}