{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
  <h1>{{ user.get_full_name }}</h1>
  <div class="profile-info">
    {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
      <img src="{{ im.url }}" class="user-detail">
    {% endthumbnail %}
  </div>
  {% with total_followers=user.followers.count %}
    <span class="count">
      <span class="total_followers">{{ total_followers }}</span>
      follower{{ total_followers|pluralize }}
    </span>
    <a href="#" data-username="{{ user.username }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
      {% if request.user not in user.followers.all %}
        Follow
      {% else %}
        Unfollow
      {% endif %}
    </a>
    <div id="image-list" class="image-container">
      {% include "images/image/list_ajax.html" with images=user.images.all %}
    </div>
  {% endwith %}
{% endblock %}

{% block domready %}
$("a.follow").click(function(e){
    e.preventDefault();

    var element = $(this);

    $.post(
        "{% url "user_follow" %}",
        {
            username: element.data("username"),
            action: element.data("action")
        },
        function(data){
            if (data["status"] == "ok"){
                var previous_action = $("a.follow").data("action");

                $("a.follow").data("action",
                    previous_action == "follow" ? "unfollow" : "follow"
                );
                $("a.follow").text(
                    previous_action == "follow" ? "unfollow" : "follow"
                );

                $("span.total_followers").text(
                    data["total_followers"]
                );
            }
        }
    );
});
{% endblock %}