{% extends "blog/base.html" %}

{% load blog_tags %}

{% block title %}My Blog {% endblock %}

{% block content %}
<h1>My Blog</h1>

<div class="alert alert-primary">
  This blog has {% total_posts %} posts
</div>

<br>

{% show_latest_posts 1 %}

<br>
<hr>

<h2>Most commented</h2>

{% get_most_commented_posts as most_commented_posts %}
<ul>
{% for commented_post in most_commented_posts %}
    <li><a href="{{ commented_post.get_absolute_url }}">{{ commented_post.title }} ({{ commented_post.total_comments }} comment{{ commented_post.total_comments|pluralize }})</a></li>
{% endfor %}
</ul>

{% endblock %}
