{% extends "blog/base.html" %}

{% load blog_tags %}

{% block content %}
    {% if query %}
    <h1>Searching for {{ form.cleaned_data.query }}</h1>
    <h3>
        {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
    </h3>
    <ul>
        {% for result in results %}
            <li><a href="{{ result.get_absolute_url }}">{{ result.title }}</a></li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
    {% else %}
        <form action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}