{% extends "common/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Checkout</h1>

<div class="">
    <div class="card">
        <div class="card-header">
            Place your order
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="w-25">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-bordered">
                {% if cart.coupon %}
                <tr>
                    <td colspan="2">Total <i>without</i> discount:</td>
                    <td class="w-25">${{ cart.get_total_price|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td colspan="2">Total <b>with</b> discount ({{ cart.coupon }} - {{ cart.coupon.discount|floatformat:"2" }}%):</td>
                    <td><b>${{ cart.get_total_price_after_discount|floatformat:"2" }}</b></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">Total:</td>
                    <td class="w-25">{{ cart.get_total_price|floatformat:"2" }}</td>
                </tr>
                {% endif %}
            </table>

        </div>
    </div>
</div>

<form action="{% url "orders:order_create" %}" method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <p>
        <input type="submit" class="btn btn-primary" value="Place order!">
    </p>
</form>

{% endblock %}