{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>
        Module {{ module.order|add:1 }}: {{ module.title }}
    </h1>
    <table class="table table-bordered">
        <thead class="thead-ligth">
            <tr>
                <th>Module</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% with modules=course.modules.all %}
            {% for module in modules %}
                <tr>
                <td></td>
                <td>{{ module.title }}</td>
                </tr>
                {% with contents=module.contents.all %}
                {% for content in contents %}
                <tr>
                <td></td>
                <td>{{ content.item }}</td>
                </tr>
                {% endfor %}
                {% endwith %}
            {% endfor %}
        {% endwith %}
        </tbody>
    </table>
{% endblock %}