{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>
        Modules for course {{ course }}
    </h1>

    <table class="table table-bordered modules_list">

        <thead class="thead-light">
            <tr>
                <th>Module</th>
                <th>Contents</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>

        {% with modules=course.modules.all %}
            {% for module in modules %}
            <tr class="module_row" data-module-id="{{ module.id }}">
                <td>{{ module.order|add:1 }}: {{ module.title }}</td>

                <td>
                    <table class="table table-sm contents_list">
                    <tbody>
                    {% with contents=module.contents.all %}
                    {% for content in contents %}
                    <tr class="content_row" data-module-id="{{ module.id }}" data-content-id="{{ content.id }}">
                    <td>{{ content.item }}</td>
                    <td>
                        <a class="btn btn-link" href="{% url "courses:module_content_update" module.id content.content_type.model content.item.id %}">Edit</a>
                        <form action="{% url "courses:module_content_delete" content.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-link" type="submit">Delete</button>
                        </form>
                    </td>
                    </tr>
                    {% endfor %}
                    {% endwith %}
                    </tbody>
                    </table>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add content
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url "courses:module_content_create" module.id "textitem" %}">Text</a>
                            <a class="dropdown-item" href="{% url "courses:module_content_create" module.id "image" %}">Image</a>
                            <a class="dropdown-item" href="{% url "courses:module_content_create" module.id "video" %}">Video</a>
                            <a class="dropdown-item" href="{% url "courses:module_content_create" module.id "file" %}">File</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endwith %}

    </table>

{% endblock %}

{% block body_append %}
    <script src="{% static "courses/js/jquery-sortable.js" %}"></script>
    <link rel="stylesheet" href="{% static "courses/css/jquery-sortable.css" %}">
{% endblock %}

{% block domready %}
$(".contents_list").sortable({
  containerSelector: 'table',
  itemPath: '> tbody',
  itemSelector: 'tr.content_row',
  placeholder: '<tr class="placeholder"/>'
});

{% comment %}
$(".modules_list").sortable({
  containerSelector: 'table',
  itemPath: '> tbody',
  itemSelector: 'tr.module_row',
  placeholder: '<tr class="placeholder"/>'
});
{% endcomment %}

{% endblock %}