{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-3">
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for c in categories %}
                <a class="list-group-item list-group-item-action {% if category.slug == c.slug %} active {% endif %}" href="{{ c.get_absolute_url }}">{{ c }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-9">
        {% for product in products %}
        <div class="card mb-3">
            <div class="card-body">
                {% if product.image %}
                    <img class="w-100 vh-100" src="{{ product.image.url }}">
                {% else %}
                    <img class="w-100 vh-100" src="{% static "shop/img/no_image.png" %}">
                {% endif %}
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">{{ product.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}