{% extends "base.html" %}
{% load thumbnail %}
{% load thumbnail %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <h1>Seeing {{ user.username }}</h1>
    <div class="profile-info">
        <img src="{% thumbnail user.profile.photo 180x180 %}" class="user-detail">
    </div>
    {% with total_followers=user.followers.count %}
    <span class="count">
        <span class="total">{{ total_followers }}</span>
        followers{{ total_followers|pluralize }}
    </span>
    <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}unfollow{% else %}follow{% endif %}" class="follow button">
        {% if request.user in user.followers %}unfollow{% else %}follow{% endif %}
    </a>
    <div id="image-list" class="image-container">
        {% include "images/image/list_ajax.html" with images=user.images_created.all %}
    </div>
    {% endwith %}
{% endblock %}

{% block domready %}
$("a.follow").click(function(e){
    e.preventDefault();

    var element = $(this);
    $.post(
        "{% url "user_follow" %}",
        {
            id: element.data("id"),
            action: element.data("action")
        },
        function(data){
            if (data["status"] == "ok"){
                if (data["action"] == "follow") {
                    element.data("action", "unfollow");
                    element.text("unfollow");
                } else {
                    element.data("action", "follow");
                    element.text("follow");
                }

                var total_span = $("span.total");
                total_span.text(data["total_followers"]);
            }
        }
    );
});
{% endblock %}