{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th colspan="4">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.title }}</td>
            <td><a href="{% url "courses:course_edit" obj.pk %}">Edit</a></td>
            <td><a href="{% url "courses:course_delete" obj.pk %}">Delete</a></td>
            <td><a href="{% url "courses:course_module_update" obj.pk %}">Edit modules</a></td>
            <td><a href="{% url "courses:module_content_list" obj.pk %}">View modules</a></td>
        </tr>
        {% empty %}
        <tr>
            <td class="warning" colspan="5">You don´t have any course yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col-2 offset-10">
        <a class="btn btn-primary" href="{% url "courses:course_create" %}">Create new course</a>
    </div>
</div>
{% endblock %}